body, html{
	margin:0px;
	font-family:Arial;
	overflow-x:hidden;
	height:100%;
	background-color:#161414;
}

.header {
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

a{
	text-decoration:none;
}

.app-card{
	background-color:#100e42;
	padding-bottom:20px;
	width:90%;
	max-width:300px;
	transition:0.5s;
	margin:10px;
	border-radius: 15px;
}

.app-card:hover{
	padding:10px;
}

.app-card h1{
	color: #fff;
	font-family: Arial;
}

.app-card img{
	width:100%;
	border-radius: 15px;
}

.app-card p{
	color: #fff;
	font-family: Arial;
}

.app-card button{
	background-color: DodgerBlue;
	border: none;
	color: white;
	padding: 15px 30px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 50px;
	margin:10px;
}

hr { 
  border-color: #4f5654;
  background-color: #4f5654;
}

.copyright{
	color: #fff;
}

.copyright a{
	color: #f46700;
}